@{ 
    ViewData["Title"] = "Boucing Ball";
}
<div class="BounsingBall">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
   
    <div class="m-5">
        <a asp-controller="Home" asp-action="CssAnimations" class="btn btn-success">
            Back
        </a>
    </div>
</div>
