@{ 
    ViewData["title"] = "Animations";
 
}

<div class="row">
    <div class="col-lg-3">
        <a asp-controller="Home" asp-action="BoucingBall" asp-area="">
            <div class="box body position-absolute">
                <div class="box-content w-100 h-100">

                    <div class="box-front">
                        <p>Bouncing Ball</p>
                        <h3>View It</h3>
                    </div>

                    <div class="box-back">
                        <p class="text-justify">
                            An animation lets an element gradually change from one style to another.
                            You can change as many CSS properties you want, as many times you want.
                            To use CSS animation, you must first specify some keyframes for the animation.
                            Keyframes hold what styles the element will have at certain times.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 ml-4">
        <a asp-controller="Home" asp-action="BoucingBall" asp-area="">
            <div class="box body position-absolute">
                <div class="box-content">

                    <div class="box-front">
                        <p>Bouncing Ball</p>
                        <h3>View It</h3>
                    </div>

                    <div class="box-back">
                        <p class="text-justify">
                            An animation lets an element gradually change from one style to another.
                            You can change as many CSS properties you want, as many times you want.
                            To use CSS animation, you must first specify some keyframes for the animation.
                            Keyframes hold what styles the element will have at certain times.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 ml-4">
        <a asp-controller="Home" asp-action="BoucingBall" asp-area="">
            <div class="box body position-absolute">
                <div class="box-content">

                    <div class="box-front">
                        <p>Bouncing Ball</p>
                        <h3>View It</h3>
                    </div>

                    <div class="box-back">
                        <p class="text-justify">
                            An animation lets an element gradually change from one style to another.
                            You can change as many CSS properties you want, as many times you want.
                            To use CSS animation, you must first specify some keyframes for the animation.
                            Keyframes hold what styles the element will have at certain times.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    @*<div class="col-lg-3 col-md- ml-4">
        <a asp-controller="Home" asp-action="BoucingBall" asp-area="">
            <div class="box body position-absolute">
                <div class="box-content">

                    <div class="box-front">
                        <p>Bouncing Ball</p>
                        <h3>View It</h3>
                    </div>

                    <div class="box-back">
                        <p class="text-justify">
                            An animation lets an element gradually change from one style to another.
                            You can change as many CSS properties you want, as many times you want.
                            To use CSS animation, you must first specify some keyframes for the animation.
                            Keyframes hold what styles the element will have at certain times.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>*@


</div>